body {
    background-color: antiquewhite;
}

#container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

table {
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

th {
    background-color: purple;
    color: white;
}

td {
    background-color: aqua;
}

td:first-child {
    background-color: chartreuse;
}

@media screen and (max-width:768px) {
    table {
        width: 100%;
    }
}